@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$font-stack: 'Libre Franklin', sans-serif;
$font-weights: (
  'light': 300,
  'semi-bold': 600,
  'bold': 700,
);
$default-font-size: 20px;